body {
    margin:0;
    padding:0;
    color: #484848;
    font-size: 14px;
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

div.container {
    max-width: 1000px;
    margin: 30px auto 30px;
}

h1, h3, h4, h2{
    margin: 0;
}

ul {
    list-style: none;
    padding: 0 20px 0;
}

li {
    padding: 3px;
}

@media screen and (max-width:1050px) {
    .filters, .places {
        margin: 10px;
    }
}

@media screen and (max-width:400px) {
    .filters, .places {
        margin: 10px;
    }
}